@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
:root {
  --primary-color: #778899;
  --secondary-color: #fafafa75;
  --color-text: #e2e2e2;
  --background-color: #34353d;
  --accent-color-green: #f0a013;
  --accent-color-red: #dc612d;
  --color-list-item: #3d3f48;
  --color-leader: #ffd700c2;
  --color-second: #c0c0c0;
  --color-third: #cd7d32;
  --font-family: 'Fira Sans', sans-serif;
}
html {
  background-color: var(--background-color);
}
body {
  font-family: var(--font-family);
  font-size: 16pt;
  color: var(--color-text);
}
h2 {
  font-family: var(--font-family);
  font-size: 2.25rem;
  margin: 0;
}
h3 {
  font-family: var(--font-family);
  font-size: 1.5rem;
  margin: 0;
}
p {
  font-size: 1rem;
  margin: 0;
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.screen-container {
  height: 100%;
  width: 100%;
}
.bottombar-container {
  position: sticky;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background: linear-gradient(0deg, #6F6F6FC9, #6f6f6fa6);
  z-index: 100;
}
.bottombar-button {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-text);
  height: 3rem;
  padding: 0 2rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #5877c5;
  box-shadow: 0 0.5rem 1rem 0 #00000050;
  cursor: pointer;
}
.bottombar-button:not(:last-of-type) {
  margin-bottom: 1rem;
}
.bottombar-button:hover {
  background-color: #6b8ee6;
}
.bottombar-button:active {
  background-color: #4e69ad;
}


.mainscreen-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainscreen-container h3 {
  color: #FFFFFF;
  margin: 3rem 0;
  text-align: center;
}
.leader-avatar {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  border: 1.25rem solid #FFFFFF;
  object-fit: cover;
  border-radius: 10rem;
}
.leader-status {
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: var(--color-leader);
  text-align: center;
  margin-top: 0.5rem;
}
.leader-fullname {
  font-family: var(--font-family);
  font-size: 2.25rem;
  text-align: center;
  margin-top: 1rem;
}
.leader-club {
  font-size: 1.5rem;
  color: #6F6F6F;
  text-align: center;
}

.list {
  margin-top: 3rem;
}

.listitem-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-list-item);
  margin: 0 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  overflow: hidden;
}
.listitem-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.listitem-place {
  width: 3rem;
  text-align: center;
  color: var(--color-text);
}
.listitem-avatar {
  height: 2.75rem;
  width: 2.75rem;
  object-fit: cover;
  border-radius: 3rem;
  border: 3px solid #6F6F6F;
}
.listitem-subdata {
  flex-grow: 1;
  margin-left: 1rem;
}
.listitem-fullname {
  font-family: var(--font-family);
  font-size: 1rem;
}
.listitem-club {
  font-size: 0.75rem;
  color: var(--secondary-color);
}
.listitem-events-container {
  overflow: hidden;
}
.listitem-events-container p {
  font-size: 0.85rem;
  color: #6F6F6F;
}
.listitem-events-container p:first-of-type {
  padding-top: 1rem;
}
.listitem-points-container {
  width: 3rem;
  color: #6F6F6F;
  text-align: center;
}
.listitem-points-container p:first-of-type {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}
.listitem-points-container p:last-of-type {
  font-size: 0.5rem;
  margin: 0;
}

.listitem-repeat-place {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 5rem;
  color: #BABABA75;
  position: absolute;
  opacity: 0.25;
}

.back-toner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  text-align: center;
  color: #FFFFFF;
}